@page "/home"

@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
            <Authorized>
        <h1>Welcome, @username</h1>
    </Authorized>
    <NotAuthorized>
        <p>Não autorizado</p>
    </NotAuthorized>
</AuthorizeView>
@code {
    private string username;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var uniqueNameClaim = user.Claims.FirstOrDefault(c => c.Type == "unique_name");

            if (uniqueNameClaim != null)
            {
                 username = uniqueNameClaim.Value;

            }
        }
    }
}