@using BlazorAuthentication.Components.Pages
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@* <Authenticated /> *@
<CascadingAuthenticationState>
  
            <div class="page">
        <AuthorizeView>
            <Authorized>
                <div class="sidebar">
                    <NavMenu />
                </div>
        </Authorized>
    </AuthorizeView>
                <main>
                     <AuthorizeView>
            <Authorized>
            <div class="top-row px-4">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>
                </Authorized>
            </AuthorizeView>
                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </div>
  
</CascadingAuthenticationState>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@* @code{
    protected async override void OnInitialized()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("login");
        }
        else

            StateHasChanged();
        }


    } *@
@code {

    // protected override async Task OnInitializedAsync()
    // {
    //     var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    //     if (!authState.User.Identity.IsAuthenticated)
    //     {
    //         NavigationManager.NavigateTo("login");

    //     }
    //}


}