.pulsing-image img {
    display: block;
    width: 200px; /* Aumentando o tamanho inicial da imagem */
    margin: 250px auto 0; /* Aumenta a margem superior para mover a imagem para baixo */
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1) translateY(0); /* Tamanho original e posição vertical inicial */
    }

    50% {
        transform: scale(1.5) translateY(20px); /* Aumenta a imagem para 150% e move um pouco para baixo durante o pulso */
    }
}

.rounded-button {
    border-radius: 10px; /* ou qualquer outro valor desejado */
}

.filter-container {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px; /* Espaço entre os itens internos */
    background-color: #f5f5f5; /* Cor de fundo do contêiner */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px; /* Espaço abaixo do contêiner */
}

.detail-item {
    margin-bottom: 5px; /* Espaçamento entre os itens */
}
